#HNO{
    text-decoration: none;
    border:none;
     width: 300px;
      background-color: rgb(227, 203, 138);
}
.checkout{
  background-color: rgb(227, 203, 138);
    
}
.checkout-card1{
    height: 640px;
}
.checkout-header{
   background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67)) ;
   color: rgb(227, 203, 138);
}
#billing{
     background-color: rgb(227, 203, 138);
}
.checkout-button{
    background-image:linear-gradient(90deg ,rgb(53, 11, 3),rgb(208, 56, 18));
}

