.upload-header{
background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67))
 
}
.upload-body{
    background-color: rgb(244, 242, 239);
}
.upload-btn{
    background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67))
 
}
body{
     background-color:rgb(244, 242, 239);;
}