.container-fluid{
  background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67))
  
}

img{
    width:150px;
    height:50px;
}
/* a{
    text-decoration: none;
    
}  */
.icon{
    
    margin-right:5px;
    
}