.success{
    height: 150px;
    width: 150px;
    text-align: center;
    align-items: center;
    /* margin-top: 200px; */
    margin-left: 570px;
    background-color: rgb(143, 206, 143);
}
.order-success{
    margin-top: 150px;
    /* margin-left: 530px; */
}
.order-button{
    background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67)) ;
}
