.credit-header{
    background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}
.credit-btn{
     background-image:linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}
.credit-terms{
    margin-top: 300px;
}