#button {
  background-image: linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}
.card-header{
   background-image: linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}

.card-footer{
      background-image: linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}
.card-body{
    background-color: rgb(227, 203, 138);
}
.loginNav{
     background-color: rgb(227, 203, 138);
     height:60px
}
.card-login{
    height: 400px;
}