#button {
  background-image: linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
  
}
input[type="submit"][value="Login"]{
color: rgb(227, 203, 138);
}

.login-header{
   background-image: linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}

.text-header{
    color: rgb(227, 203, 138) ;
}
.login-footer{
      background-image: linear-gradient(90deg,rgb(10,13,12), rgb(43, 74, 67));
}
.login-body{
    background-color: rgb(227, 203, 138);
}
.loginNav{
     background-color: rgb(227, 203, 138);
     height:60px
}
.card-login{
    height: 400px;
}
